[submodule "42-RPi-FreeRTOS"]
	path = 42-RPi-FreeRTOS
	url = https://github.com/Forty-Tw0/RaspberryPi-FreeRTOS.git
[submodule "RPi-FreeRTOS"]
	path = RPi-FreeRTOS
	url = https://github.com/jameswalmsley/RaspberryPi-FreeRTOS.git
[submodule "ESP-Open-RTOS"]
	path = ESP-Open-RTOS
	url = git@github.com:SuperHouse/esp-open-rtos.git
[submodule "FreeRTOS-Addons"]
	path = FreeRTOS-Addons
	url = https://github.com/michaelbecker/freertos-addons.git
[submodule "STM32-RTOS-Wizard"]
	path = STM32-RTOS-Wizard
	url = https://github.com/istarc/stm32.git
[submodule "Zephyr"]
	path = Zephyr
	url = git@github.com:zephyrproject-rtos/zephyr.git
[submodule "Miosix/kernel"]
	path = Miosix/kernel
	url = git@github.com:fedetft/miosix-kernel.git
[submodule "Miosix/gui"]
	path = Miosix/gui
	url = git@github.com:fedetft/mxgui.git
[submodule "Miosix/usb"]
	path = Miosix/usb
	url = git@github.com:fedetft/mxusb.git
[submodule "Miosix/serial-port"]
	path = Miosix/serial-port
	url = git@github.com:fedetft/serial-port.git
[submodule "OSJ5"]
	path = OSJ5
	url = git@github.com:jaw0/osj5.git
[submodule "nOS"]
	path = nOS
	url = git@github.com:jimtremblay/nOS.git
