application             ICON  "bitmaps/nutconf.ico"

#include "wx/msw/wx.rc"

closedfolder            ICON  "bitmaps/closedfolder.ico"
closedfolder_dis        ICON  "bitmaps/closedfolder_dis.ico"
library                 ICON  "bitmaps/library.ico"
library_dis             ICON  "bitmaps/library_dis.ico"
module                  ICON  "bitmaps/module.ico"
module_dis              ICON  "bitmaps/module_dis.ico"
checked                 ICON  "bitmaps/checked.ico"
checked_dis             ICON  "bitmaps/checked_dis.ico"
unchecked               ICON  "bitmaps/unchecked.ico"
unchecked_dis           ICON  "bitmaps/unchecked_dis.ico"
integer                 ICON  "bitmaps/integer.ico"
integer_dis             ICON  "bitmaps/integer_dis.ico"
enumerated              ICON  "bitmaps/enumerated.ico"
enumerated_dis          ICON  "bitmaps/enumerated_dis.ico"
radioon                 ICON  "bitmaps/radioon.ico"
radioon_dis             ICON  "bitmaps/radioon_dis.ico"
radiooff                ICON  "bitmaps/radiooff.ico"
radiooff_dis            ICON  "bitmaps/radiooff_dis.ico"
text                    ICON  "bitmaps/text.ico"
text_dis                ICON  "bitmaps/text_dis.ico"

SSB_NUTCONF         BITMAP "bitmaps/nutconf.bmp"
TBB_BUILDLIBRARY    BITMAP "bitmaps/buildlibrary.bmp"
TBB_BUILDLIBRARY_LARGE    BITMAP "bitmaps/buildlibrary_large.bmp"
TBB_COPY            BITMAP "bitmaps/copy.bmp"
TBB_CSHELP          BITMAP "bitmaps/cshelp.bmp"
TBB_CUT             BITMAP "bitmaps/cut.bmp"
TBB_HELP            BITMAP "bitmaps/help.bmp"
TBB_HELP_LARGE      BITMAP "bitmaps/help_large.bmp"
TBB_NEW             BITMAP "bitmaps/new.bmp"
TBB_OPEN            BITMAP "bitmaps/open.bmp"
TBB_OPEN_LARGE      BITMAP "bitmaps/open_large.bmp"
TBB_PASTE           BITMAP "bitmaps/paste.bmp"
TBB_SAVE            BITMAP "bitmaps/save.bmp"
TBB_SAVE_LARGE      BITMAP "bitmaps/save_large.bmp"
TBB_SEARCH          BITMAP "bitmaps/search.bmp"
TBB_SEARCH_LARGE    BITMAP "bitmaps/search_large.bmp"
TBB_STOPBUILD       BITMAP "bitmaps/stopbuild.bmp"

